<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inscription salarié d'une entreprise</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{{asset("/design/assets/vendors/mdi/css/materialdesignicons.min.css ")}}">
    <link rel="stylesheet" href="{{asset("/design/assets/vendors/css/vendor.bundle.base.css")}}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{{asset("/design/assets/css/style.css")}}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{{asset("/design/assets/images/favicon.png")}}" />
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
            <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                <div class=" mx-auto">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Inscription Entreprise</h4>
                            {{  form_start(form, {'attr': {'class': 'form-sample'}}) }}
                            {{ form_widget(form._token) }}
                                <div class="form-group">
                                    <label for="exampleInputName1">Nom :</label>
                                    {{ form_errors(form.nom) }}
                                    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputName1">Prenom :</label>
                                    {{ form_errors(form.prenom) }}
                                    {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail3">Nom Structure :</label>
                                    {{ form_errors(form.nomStructure) }}
                                    {{ form_widget(form.nomStructure, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword4">Adresse Structure :</label>
                                    {{ form_errors(form.adresseStructure) }}
                                    {{ form_widget(form.adresseStructure, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                   <label for="exampleInputPassword4">Email :</label>
                                    {{ form_errors(form.email) }}
                                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputPassword4">Fonction Structure :</label>
                                    {{ form_errors(form.fonctionStructure) }}
                                    {{ form_widget(form.fonctionStructure, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword4">Téléphone :</label>
                                    {{ form_errors(form.tel) }}
                                    {{ form_widget(form.tel, {'attr': {'class': 'form-control'}}) }}
                                </div>
                               <div class="form-group">
                                 <label for="exampleInputPassword4">Secteur D'activite :</label>
                                   {{ form_errors(form.secteuractivite) }}
                                   {{ form_widget(form.secteuractivite, {'attr': {'class': 'form-control'}}) }}
                              </div>
                            {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-primary btn-icon-text text-center'}}) }}

                            {{ form_end(form, {'render_rest': false}) }}
                        </div>
                    </div>
                </div>
                <p class="terms">Par créer un compte vous avez accepté nos<a href="/terme&condition"> Termes & Conditions</a></p>
            </div>
            </div>
        </div>
    </div>
</div>
<script src="{{asset("/design/assets/vendors/js/vendor.bundle.base.js")}}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{{asset("/design/assets/js/off-canvas.js")}}"></script>
<script src="{{asset("/design/assets/js/hoverable-collapse.js")}}"></script>
<script src="{{asset("/design/assets/js/misc.js")}}"></script>
<script src="{{asset("/design//assets/js/settings.js")}}"></script>
<script src="{{asset("/design//assets/js/todolist.js")}}"></script>

</body>
</html>
