{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}


{% block stylesheets %}
    <style>
        #schedule-container {
            overflow-x: auto;
            white-space: nowrap;
        }
        #schedule {
            width: 100%;
            border-collapse: collapse;
        }
        #schedule th,
        #schedule td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
            min-width: 60px;
        }
        .time-slot:hover {
            background-color: #e3e3e3;
            cursor: pointer;
        }
        #date-selector {
            margin-bottom: 20px;
        }
    </style>
{% endblock %}


{% block javascripts %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const selectedDateInput = document.getElementById('selected-date');
            const scheduleContainer = document.getElementById('schedule-container');
            const today = new Date().toISOString().split('T')[0];
            selectedDateInput.value = today; // Définir la date d'aujourd'hui comme valeur par défaut

            // Fonction pour charger le planning pour une date donnée
            function loadScheduleForDate(date) {
                // Ici, ajoutez votre logique pour charger les données de planning pour la date sélectionnée
                console.log(`Chargement du planning pour la date : ${date}`);
                // Par exemple, vous pourriez envoyer une requête AJAX à votre serveur pour obtenir les données de planning
            }

            // Chargez le planning pour la date d'aujourd'hui au démarrage
            loadScheduleForDate(today);

            // Écouteur d'événements pour détecter un changement de date
            selectedDateInput.addEventListener('change', function(event) {
                const selectedDate = event.target.value;
                loadScheduleForDate(selectedDate);
            });

            // Gestionnaires d'événements pour les boutons de changement de tableau
            var btnStudio = document.getElementById("btn-studio");
            var btnFlex = document.getElementById("btn-flex");
            var scheduleContainerStudio = document.getElementById("schedule-container-studio");
            var scheduleContainerFlex = document.getElementById("schedule-container-flex");

            btnStudio.addEventListener('click', function() {
                scheduleContainerStudio.style.display = 'block';
                scheduleContainerFlex.style.display = 'none';
            });

            btnFlex.addEventListener('click', function() {
                scheduleContainerStudio.style.display = 'none';
                scheduleContainerFlex.style.display = 'block';
            });
        });


    </script>
{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-body">
            <!-- Choix du jour sur le planning -->
            <div id="date-selector">
                <i class="mdi mdi-calendar-clock" style="font-size: 25px; vertical-align: middle;"></i>
                <label for="selected-date" style="margin-left: 5px; vertical-align: middle;"></label>
                <input type="date" id="selected-date" name="selected-date" style="vertical-align: middle;">
            </div>
            <!-- Bouton changement de planning -->
            <div id="selector-container">
                <button type="submit" id="btn-studio" class="btn btn-secondary btn-rounded btn-fw">Studios</button>
                <button type="submit" id="btn-flex" class="btn btn-secondary btn-rounded btn-fw">Postes Flex</button>
            </div>
            <!-- Block Espace -->
            <div id="schedule-container-studio" class="schedule-container">
                 <table id="schedule">
                    <thead>
                    <tr>
                        <th>Heure/Salle</th>
                        {% for heure in 8..19 %}
                            <th>{{ heure }}h</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% set espaces = ['Studio 60m2', 'Studio 15m2', 'Studio Son', 'Studio Montage', 'Accueil client 4p', 'Salle réunion 10p', 'Bureau privé 2p'] %}
                    {% for espace in espaces %}
                        <tr>
                            <td class="room-name">{{ espace }}</td>
                            {% for heure in 8..19 %}
                                <td class="time-slot" data-hour="{{ heure }}" data-room="{{ espace }}"></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- Block postes flex -->
            <div id="schedule-container-flex" class="schedule-container" style="display: none;">
                <table id="schedule-flex">
                    <thead>
                    <tr>
                        <th>Heure/Poste Flex</th>
                        {% for heure in 8..19 %}
                            <th>{{ heure }}h</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% set flex_postes = ['Poste 1', 'Poste 2', 'Poste 3', 'Poste 4', 'Poste 5', 'Poste 6', 'Poste 7', 'Poste 8'] %}
                    {% for poste in flex_postes %}
                        <tr>
                            <td class="room-name">{{ poste }}</td>
                            {% for heure in 8..19 %}
                                <td class="time-slot" data-hour="{{ heure }}" data-post="{{ poste }}"></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
