{#{% extends 'base.html.twig' %}#}

{#{% block title %}Tableau de bord{% endblock %}#}
<link rel="stylesheet" href="{{ asset("design/assets/css/style.css")}}" >
<link rel="stylesheet" href="{{ asset("/design/assets/vendors/mdi/css/materialdesignicons.min.css")}}">
<link rel="stylesheet" href="{{ asset("design/assets/vendors/css/vendor.bundle.base.css")}}">

<link rel="stylesheet" href="{{ asset("design/assets/vendors/jvectormap/jquery-jvectormap.css")}}">
<link rel="stylesheet" href="{{ asset("design/assets/vendors/flag-icon-css/css/flag-icon.min.css")}}">
<link rel="stylesheet" href="{{ asset("design/assets/vendors/owl-carousel-2/owl.carousel.min.css")}}">
<link rel="stylesheet" href="{{ asset("design/assets/vendors/owl-carousel-2/owl.theme.default.min.css")}}">

{#{% block body %}#}
{% for message in app.flashes('success') %}
    <div class="card-body" style="margin-bottom: 20px">
        <blockquote class="blockquote blockquote-primary">
            <footer class="blockquote-footer text-success">{{ message }}</footer>
        </blockquote>
    </div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="card-body" style="margin-bottom: 20px">
        <blockquote class="blockquote blockquote-primary">
            <p class="text-danger">ERREUR :</p>
            <footer class="blockquote-footer text-danger">{{ message }}</footer>
        </blockquote>
    </div>
{% endfor %}
{% if succes %}
    {{ form_start(form) }}
    {{ form_widget(form._token) }}
    <div class="container">
        <div class="row" style="padding-top: 20px">
            <div class="col-cm-12">
                <h2>Détails de la réservation:</h2>
                <h3 class="text-secondary"> Espace : {{ reservation.espace.libelle }}</h3>

                <div class="row" style="padding-top: 20px">
                    <div class="col-md-12">
                        <label class="text-secondary">JOUR :</label>
                        {{ form_widget(form.date) }}
                    </div>
                </div>

                <div class="row" style="padding-top: 20px">
                    <div style="width: 50%;">
                        {{ form_widget(form.heureDebut) }}
                    </div>

                    <div style="width: 50%;">
                        {{ form_widget(form.heureFin) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ form_errors(form.heureFin) }}
                    </div>
                </div>
                <div class="row" style="padding-top: 20px">
                    <div class="col-md-12">
                        <label class="text-secondary">DÉTAILS DE LA RÉSERVATION :</label>
                        {{ form_widget(form.libelle) }}
                    </div>
                </div>
                {{ form_widget(form.espace) }}
                {{ form_widget(form.user) }}
                <div class="row" style="padding-top: 20px">
                    <div class="col-md-12">
                        <label class="text-secondary">MODALITÉS DE RÉSERVATION :</label>
                    </div>
                </div>
                <div class="row flex-c-c" style="padding-top: 10px;">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-bordered text-md-center" style="table-layout: fixed;">
                                {% set un = false %}
                                {% for coin in reservation.espace.tarifEspaceTarifs %}
                                    {% if coin.heure == 1 %}
                                        {% set un = true %}
                                    {% endif %}
                                {% endfor %}
                                <thead>
                                <tr>
                                    <th>Heures</th>
                                    <th>Tarif B.Coins</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr>
                                    <th>9h-13h</th>
                                    {% set havePrix = false %}
                                    {% for coin in reservation.espace.tarifEspaceTarifs %}
                                        {% if coin.heure == 4 %}
                                            {% set havePrix = true %}
                                            <th>
                                                <h6>{{ coin.prix }} B.Coins</h6>
                                            </th>
                                        {% endif %}

                                    {% endfor %}
                                    {% if havePrix == false %}
                                        <th colspan="2"><label> Sur devis </label></th>
                                    {% else %}
                                        <th>{{ form_widget(form.matin,{'attr': {'onClick': 'matin()'}}) }}</th>

                                    {% endif %}
                                </tr>
                                <tr>
                                    <th>14h-18h</th>
                                    {% for coin in reservation.espace.tarifEspaceTarifs %}
                                        {% if coin.heure == 4 %}
                                            {% set havePrix = true %}
                                            <th>
                                                <h6>{{ coin.prix }} B.Coins</h6>
                                            </th>
                                        {% endif %}
                                    {% endfor %}
                                    {% if havePrix == true %}
                                        <th>{{ form_widget(form.apresmidi,{'attr': {'onClick': 'apresMidi()'}}) }}</th>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th>9h-18h</th>
                                    {% set havePrix = false %}
                                    {% for coin in reservation.espace.tarifEspaceTarifs %}
                                        {% if coin.heure == 9 %}
                                            {% set havePrix = true %}
                                            <th>
                                                <h6>{{ coin.prix }} B.Coins</h6>
                                            </th>
                                        {% endif %}
                                    {% endfor %}
                                    {% if havePrix == false %}
                                        <th colspan="2"><label> Sur devis </label></th>
                                    {% else %}
                                        <th>{{ form_widget(form.journee,{'attr': {'onClick': 'journee()'}}) }}</th>
                                    {% endif %}
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 20px">
                    <h4 id="temoins" style="display: none" class="">Réservation en cours...</h4>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form,{"render_rest": false}) }}
{% endif %}

<script>

    function matin() {
        document.getElementById('reservation_heureDebut').value = 9;
        document.getElementById('reservation_heureFin').value = 13;
    }

    function apresMidi() {
        document.getElementById('reservation_heureDebut').value = 14;
        document.getElementById('reservation_heureFin').value = 18;
    }

    function journee() {
        document.getElementById('reservation_heureDebut').value = 9;
        document.getElementById('reservation_heureFin').value = 18;
    }


    document.addEventListener("DOMContentLoaded", function () {
        for (let i = 0; i < document.getElementsByClassName("btnConfirm").length; i++) {
            document.getElementsByClassName("btnConfirm")[i].addEventListener("click", function () {
                if (document.getElementById("reservation_libelle").value !== '') {
                    for (let j = 0; j < document.getElementsByClassName("btnConfirm").length; j++) {
                        document.getElementsByClassName("btnConfirm")[j].style.display = "none";
                    }
                    document.getElementById("temoins").style.display = "block";
                }
            });
        }

        // défini l'heure suivant le clic de l'utilisateur
        var heure = location.search.split('=')[3].split('/');
        document.getElementById('reservation_heureDebut').value = heure[0];
        document.getElementById('reservation_heureFin').value = heure[1];

    });

</script>

{#{% endblock %}#}