{% extends 'base.html.twig' %}
{% block title %}Confirmation User{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Confirmer nouveau utilisateurs independants</h4>

                    {% for message in app.flashes('succesmail') %}
                        <h5 class="text-success">{{ message }}</h5>
                    {% endfor %}
                    {% for message in app.flashes('errormail') %}
                        <h5 class="text-danger">{{ message }}</h5>
                    {% endfor %}

                    {# Tableau pour les indépendants #}
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th style="text-align: center;">Nom</th>
                                <th style="text-align: center;">Prenom</th>
                                <th style="text-align: center;">Metier</th>
                                <th style="text-align: center;">Entreprise</th>
                                <th style="text-align: center;">Statut</th>
                                <th style="text-align: center;">Confirmer</th>
                                <th style="text-align: center;">Refuser</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for member in newmembers  %}
                                {% if member.independant and member.confirmed != 1 %}
                                <tr>
                                    <td style="text-align: center;" class="text-white">{{ member.independant.nom }}</td>
                                    <td style="text-align: center;" class="text-white">{{ member.independant.prenom }}</td>
                                    <td style="text-align: center;" class="text-white">{{ member.independant.metier.libelle }}</td>
                                    <td style="text-align: center;" class="text-white">{{ member.independant.entreprise }}</td>
                                    <td style="text-align: center;" class="text-white">{{ member.independant.statut.libelle }}</td>
                                    <td>
                                        <div class="text-center">
                                            <form action="{{ path('newmemberConfirmed', {'id': member.id}) }}" method="post">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <button type="submit" class="btn btn-success btn-rounded btn-fw">Accepter</button>
                                            </form>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center">
                                            <form action="{{ path('newmemberRefuser', {'id': member.id}) }}" method="post">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <button type="submit" class="btn btn-danger btn-rounded btn-fw">Refuser</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

                    {# Tableau pour les entreprises #}
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Confirmer nouveau utilisateurs venant d'une entreprise</h4>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th style="text-align: center;">Nom</th>
                                <th style="text-align: center;">Prenom</th>
                                <th style="text-align: center;">Email</th>
                                <th style="text-align: center;">Nom Structure</th>
                                <th style="text-align: center;">Secteur Activite</th>
                                <th style="text-align: center;">Confirmer</th>
                                <th style="text-align: center;">Refuser</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for member in newmembers  %}
                                {% if member.entreprise and member.confirmed != 1 %}
                                <tr>
                                    <td style="text-align: center;" class="text-white">{{ member.entreprise.nom }}</td>
                                    <td style="text-align: center;" class="text-white">{{ member.entreprise.prenom }}</td>
                                    <td style="text-align: center;" class="text-white">{{ member.entreprise.email }}</td>
                                    <td style="text-align: center;" class="text-white">{{ member.entreprise.nomstructure }}</td>
                                    <td style="text-align: center;" class="text-white">{{ member.entreprise.secteuractivite.libelle }}</td>
                                    <td>
                                        <div class="text-center">
                                            <form action="{{ path('newmemberConfirmed', {'id': member.id}) }}" method="post">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <button type="submit" class="btn btn-success btn-rounded btn-fw">Accepter</button>
                                            </form>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center">
                                            <form action="{{ path('newmemberRefuser', {'id': member.id}) }}" method="post">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <button type="submit" class="btn btn-danger btn-rounded btn-fw">Refuser</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

                    {# Tableau pour les autres #}
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Confirmer nouveau utilisateurs sans affectation</h4>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th style="text-align: center;">Email</th>
                                <th style="text-align: center;">Confirmer</th>
                                <th style="text-align: center;">Refuser</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for member in newmembers  %}
                                {% if not member.independant and not member.entreprise and member.confirmed != 1 %}
                                <tr>
                                    <td style="text-align: center;" class="text-white">{{ member.email }}</td>
                                    <td>
                                        <div class="text-center">
                                        <form action="{{ path('newmemberConfirmed', {'id': member.id}) }}" method="post">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <button type="submit" class="btn btn-success btn-rounded btn-fw">Accepter</button>
                                        </form>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center">
                                            <form action="{{ path('newmemberRefuser', {'id': member.id}) }}" method="post">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <button type="submit" class="btn btn-danger btn-rounded btn-fw">Refuser</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}