{% extends 'base.html.twig' %}
{% block title %}Consulter Independant {% endblock %}

{% block stylesheets %}
    <style>
        .pdp{
            aspect-ratio: 1/1;
            object-fit: cover;
        }


    .emp-profile{
    padding: 3%;

    }
    .profile-img{
    text-align: center;
    }
    .profile-img img{
    width: 70%;
    height: 100%;
    }
    .profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
    }
    .profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
    }
    .profile-head h4{
        color: #FFFFFF;
        font-size: 15px;
    }
    .profile-head h5{
    color: #FFFFFF;
        font-size: 35px;
    }
    .profile-head h6{
    color: #0062cc;
        font-size: 25px;
    }
    .profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
    }
    .proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
    }
    .proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
    }
    .profile-head .nav-tabs{
    margin-bottom:5%;
    }
    .profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
    }
    .profile-head .nav-tabs .nav-link.active{
    border: none;

    }
    .profile-work{
    padding: 14%;
    margin-top: -15%;
    }
        .metiersecondaire{

        }
        .metiersecondaire h6{
            color: #818182;
            font-size: 20px;
        }
    .profile-work p{
    font-size: 18px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
    }
    .profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 12px;
    }
    .profile-work ul{
    list-style: none;
    }
    .profile-tab label{
    font-weight: 600;
    }
    .profile-tab p{
    font-weight: 600;
    color: #0062cc;

    }
    .imgportfolio{
        object-fit: cover;
        aspect-ratio: 16/9;
    }
 .card{border: 0px;}
         .responsive-iframe-container {
             position: relative;
             padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
             height: 0;
             overflow: hidden;
         }

        .responsive-iframe-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }

    </style>
{% endblock %}

{% block body %}
    {% if app.user.independant is not null and app.user.independant.id == independant.id %}
        {% for message in app.flashes('success') %}
            <div class="card-body" style="margin-bottom: 20px">
                <blockquote class="">
                    <footer class="blockquote-footer text-success">{{ message }}</footer>
                </blockquote>
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="card-body" style="margin-bottom: 20px">
                <blockquote class="">
                    <p class="text-danger">ERREUR :</p>
                    <footer class="blockquote-footer text-danger">{{ message }}</footer>
                </blockquote>
            </div>
        {% endfor %}

        <div class="card">
            <div style="">
            <div class=" emp-profile">
                <div class="row" style="padding-left: 5%">
                    <div class="flex-c-b" style="width: fit-content; align-items: baseline">
                        <h4 class="card-title">Mon Profil</h4><a href="{{ path('independantModifierInfo', { 'id': app.user.independant.id }) }}"><i class="mdi mdi-grease-pencil" style="margin-left: 5px"></i> </a>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-4">
                            <div class="profile-img">
                                <img src="{{ asset('membre/photodeprofil/') }}{{ independant.photodeprofil }}" alt="" class="pdp"/>
                                <a href="{{ path('independantModifierPhotoDeProfil', {'id': app.user.independant.id}) }}" class="file btn btn-lg btn-primary">
                                    Changer de photo
                                </a>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="profile-head mb-3">
                                <h5>
                                    {{independant.nom}} {{independant.prenom}}
                                </h5>
                                <h4>
                                    {{ independant.email }}
                                </h4>
                                <h6>
                                    {{ independant.metier.libelle }}
                                </h6>
                                {% if independant.metiersecondaire != null %}
                                    <div class="metiersecondaire">
                                        <h6>
                                            {{ independant.metiersecondaire.libelle}}
                                        </h6>
                                    </div>
                                {% endif %}
                                <button type="button" class="btn btn-social-icon btn-facebook" onclick='window.location.href="{{ independant.facebook }}"'><i style="font-size: 25px" class="mdi mdi-facebook"></i></button>
                                <button type="button" class="btn btn-social-icon btn-youtube" onclick='window.location.href="{{ independant.youtube }}"'><i style="font-size: 25px" class="mdi mdi-youtube"></i></button>
                                <button type="button" class="btn btn-social-icon btn-insta" onclick='window.location.href="{{ independant.instagram }}"'><i style="font-size: 25px" class="mdi mdi-instagram"></i></button>
                                <button type="button" class="btn btn-social-icon btn-linkedin" onclick='window.location.href="{{ independant.linkedin }}"'><i style="font-size: 25px" class="mdi mdi-linkedin "></i></button>
                            </div>
                                <h4> {{ independant.statut.libelle }}</h4>
                            <p>
                                {{ independant.description }}
                            </p>
                        </div>
                        {% for message in app.flashes('errorInfo') %}
                        <h5 class="text-danger">{{ message }}</h5>
                        {% endfor %}
                </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="profile-work">
                                <div class="flex-c-b" style="width: fit-content; align-items: baseline">
                                <p>Super Tags</p> <a href="{{ path('independantModifierTag', { 'id': app.user.independant.id }) }}"><i class="mdi mdi-grease-pencil" style="margin-left: 5px ; color: #0a58ca"></i> </a>
                                </div>
                                {% set displayedTags = [] %}

                                {# Parcours des super tags #}
                                {% for independantTag in independant.independantTags %}
                                    {% if independantTag.super == 1 %}
                                        {{ independantTag.tag.libelle }}
                                        <br>
                                        {% set displayedTags = displayedTags|merge([independantTag.tag.libelle]) %}
                                    {% endif %}
                                {% else %}
                                    Pas de super tag
                                {% endfor %}
                                <p>Tags</p>
                                {# Parcours des tags classiques #}
                                {% for independantTag in independant.independantTags %}
                                    {% if independantTag.tag.libelle not in displayedTags %}
                                        {{ independantTag.tag.libelle }}
                                        <br>
                                        {% set displayedTags = displayedTags|merge([independantTag.tag.libelle]) %}
                                    {% endif %}
                                {% else %}
                                    Pas de tag
                                {% endfor %}
                            </div>

                        </div>
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-body">
                                    {% if carrousel.media != null %}
                                        <div class="flex-c-b" style="width: fit-content; align-items: baseline">
                                             <h4 class="card-title">Portfolio</h4><a href="{{ path('independantCréerPortfolio', { 'id': app.user.independant.id }) }}"><i class="mdi mdi-grease-pencil" style="margin-left: 5px "></i> </a>
                                        </div>

                                        <div class="owl-carousel owl-theme full-width owl-carousel-dash portfolio-carousel" id="owl-carousel-basic">
                                            {% for media in carrousel.media %}
                                            <div class="item">
                                                <img src="{{ asset('membre/portfolio/' ~ media.lien) }}" alt="" class="imgportfolio">
                                            </div>
                                            {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="row" style="padding-left: 5%">
                    <div class="flex-c-b" style="width: fit-content; align-items: baseline ;">
                        <h4 class="card-title">Mes vidéos</h4><a href="{{ path('independantListerVideo', { 'id': app.user.independant.id }) }}"><i class="mdi mdi-grease-pencil" style="margin-left: 5px "></i> </a>
                    </div>
                </div>
                        {% if independant.videos|length > 0 %}
                            <div class="row align-content-center align-items-center justify-content-center">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                            {% set displaySuperVideos = false %}
                                            {% for video in independant.videos %}
                                                {% if video.super == 1 %}
                                                    {% set displaySuperVideos = true %}
                                                {% endif %}
                                            {% endfor %}

                                            {% if independant.videos|length > 0 and displaySuperVideos %}
                                                <div class="col-md-12 col-sm-12 mb-12">
                                                    <div class="responsive-iframe-container">
                                                        {% for video in independant.videos %}
                                                            {% if video.super == 1 %}
                                                                <iframe src="https://www.youtube.com/embed/{{ video.lien|split('=')[1]|split('&')[0] }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-content-center align-items-center justify-content-center">
                                {% set video_count = independant.videos|filter(video => video.super == 0)|length %}
                                {% set col_class = 'col-md-2 col-sm-6' %}
                                {% if video_count == 1 %}
                                    {% set col_class = 'col-md-12 col-sm-12' %}
                                {% elseif video_count == 2 %}
                                    {% set col_class = 'col-md-6 col-sm-6' %}
                                {% elseif video_count == 3 %}
                                    {% set col_class = 'col-md-4 col-sm-6' %}
                                {% elseif video_count == 4 %}
                                    {% set col_class = 'col-md-3 col-sm-6' %}
                                {% endif %}

                                {% for video in independant.videos %}
                                    {% if video.super == 0 %}
                                        <div class="{{ col_class }} mb-2">
                                            <div class="responsive-iframe-container">
                                                <iframe src="https://www.youtube.com/embed/{{ video.lien|split('=')[1]|split('&')[0] }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% endif %}

                    </div>
            </div>
        </div>
    {% else %}
        <div class="card">
            <div class=" emp-profile">
                <div class="row">
                    <div class="col-md-4">
                        {% if independant.photodeprofil|length > 0 %}
                        <div class="profile-img">
                            <img src="{{ asset('membre/photodeprofil/') }}{{ independant.photodeprofil }}" alt="" class="pdp"/>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head mb-3">
                            <h5>
                                {{independant.nom}} {{independant.prenom}}
                            </h5>
                            <h4>
                                {{ independant.email }}
                            </h4>
                            <h6>
                                {{ independant.metier.libelle }}
                            </h6>
                            {% if independant.metiersecondaire != null %}
                                <div class="metiersecondaire">
                                    <h6>
                                        {{ independant.metiersecondaire.libelle}}
                                    </h6>
                                </div>
                            {% endif %}
                            {% if independant.facebook|length > 0 %}
                                <button type="button" class="btn btn-social-icon btn-facebook" onclick='window.location.href="{{ independant.facebook }}"'><i style="font-size: 25px" class="mdi mdi-facebook"></i></button>
                            {% endif %}
                            {% if independant.youtube|length > 0 %}
                                <button type="button" class="btn btn-social-icon btn-youtube" onclick='window.location.href="{{ independant.youtube }}"'><i style="font-size: 25px" class="mdi mdi-youtube"></i></button>
                            {% endif %}
                            {% if independant.instagram|length > 0 %}
                                <button type="button" class="btn btn-social-icon btn-insta" onclick='window.location.href="{{ independant.instagram }}"'><i style="font-size: 25px" class="mdi mdi-instagram"></i></button>
                            {% endif %}
                            {% if independant.linkedin|length > 0 %}
                                <button type="button" class="btn btn-social-icon btn-linkedin" onclick='window.location.href="{{ independant.linkedin }}"'><i style="font-size: 25px" class="mdi mdi-linkedin "></i></button>
                            {% endif %}
                        </div>
                        <h4> {{ independant.statut.libelle }}</h4>
                         {% if independant.description|length > 0 %}
                            <p>
                                {{ independant.description }}
                            </p>
                         {% endif %}
                    </div>
                    <div class="row">
                    {% if independant.independantTags|length > 0 %}
                        <div class="col-md-4">
                            <div class="profile-work">
                                <p>Super Tags</p>
                                {% set displayedTags = [] %}

                                {# Parcours des super tags #}
                                {% for independantTag in independant.independantTags %}
                                    {% if independantTag.super == 1 %}
                                        {{ independantTag.tag.libelle }}
                                        <br>
                                        {% set displayedTags = displayedTags|merge([independantTag.tag.libelle]) %}
                                    {% endif %}
                                {% else %}
                                    Pas de super tag
                                {% endfor %}

                                <p>Tags</p>
                                {# Parcours des tags classiques #}
                                {% for independantTag in independant.independantTags %}
                                    {% if independantTag.tag.libelle not in displayedTags %}
                                        {{ independantTag.tag.libelle }}
                                        <br>
                                        {% set displayedTags = displayedTags|merge([independantTag.tag.libelle]) %}
                                    {% endif %}
                                {% else %}
                                    Pas de tag
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        {% if carrousel.media|length > 0 %}
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Portfolio :</h4>
                                    <div class="owl-carousel owl-theme full-width owl-carousel-dash portfolio-carousel" id="owl-carousel-basic">
                                        {% for media in carrousel.media %}
                                            <div class="item">
                                                <img src="{{ asset('membre/portfolio/' ~ media.lien) }}" alt="" class="imgportfolio">
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% if independant.videos|length > 0 %}
                    <div class="row align-content-center align-items-center justify-content-center">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Video :</h4>
                                    {% set displaySuperVideos = false %}
                                    {% for video in independant.videos %}
                                        {% if video.super == 1 %}
                                            {% set displaySuperVideos = true %}
                                        {% endif %}
                                    {% endfor %}

                                    {% if independant.videos|length > 0 and displaySuperVideos %}
                                        <div class="col-md-12 col-sm-12 mb-12">
                                            <div class="responsive-iframe-container">
                                                {% for video in independant.videos %}
                                                    {% if video.super == 1 %}
                                                        <iframe src="https://www.youtube.com/embed/{{ video.lien|split('=')[1]|split('&')[0] }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-content-center align-items-center justify-content-center">
                        <div class="row align-content-center align-items-center justify-content-center">
                            {% set video_count = independant.videos|filter(video => video.super == 0)|length %}
                            {% set col_class = 'col-md-2 col-sm-6' %}
                            {% if video_count == 1 %}
                                {% set col_class = 'col-md-12 col-sm-12' %}
                            {% elseif video_count == 2 %}
                                {% set col_class = 'col-md-6 col-sm-6' %}
                            {% elseif video_count == 3 %}
                                {% set col_class = 'col-md-4 col-sm-6' %}
                            {% elseif video_count == 4 %}
                                {% set col_class = 'col-md-3 col-sm-6' %}
                            {% endif %}

                            {% for video in independant.videos %}
                                {% if video.super == 0 %}
                                    <div class="{{ col_class }} mb-2">
                                        <div class="responsive-iframe-container">
                                            <iframe src="https://www.youtube.com/embed/{{ video.lien|split('=')[1]|split('&')[0] }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Contact</h4>
                                <p>Envoyez moi un message pour toute demande d'information, de tarifs, de projets...</p>
                                {{ form_start(form, {'action': path('independant_sendmail',{'id':  independant.id })},{'attr':{'class':'form-sample'}})}}
                                <div class="row">
                                    <div class="form-group col-4">
                                        <div id="exampleInputName">
                                            {{ form_errors(form.nom) }}
                                            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group col-4">
                                        <div id="exampleInputEmail">
                                            {{ form_errors(form.email) }}
                                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group col-4">
                                        <div id="exampleInputTel">
                                            {{ form_errors(form.phone) }}
                                            {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div id="exampleInputObjet">
                                        {{ form_errors(form.objet) }}
                                        {{ form_widget(form.objet, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div id="TextArea">
                                        {{ form_errors(form.message) }}
                                        {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                {% for message in app.flashes('error') %}
                                    <div style="color: #fff">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                <button type="submit" class="btn btn-primary me-2">Envoyer</button>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


{% endblock %}