{% extends 'base.html.twig' %}
{% block title %}Modification Photo de Profil{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Changement de photo de profil</h4>
            {{ form_start(form, {'attr': {'class': 'form-sample'}}) }}
            {{ form_widget(form._token) }}
                <div class="form-group">
                    <label>Photo de profil</label>
                    <input type="file" name="img[]" class="file-upload-default">
                    <div class="input-group col-xs-12">
                        {{ form_widget(form.photodeprofil, {'attr': {'class': 'form-control file-upload-info'}}) }}
                    </div>
                </div>
                <div class="row flex-c-c">
                    <div class="col-md-2 flex-c-c">
                        <button type="button" class="btn btn-outline-danger btn-icon-text" onclick="window.location.href='{{ path('independantConsulter', {'id': independant.id}) }}'">Annuler</button>
                    </div>
                    <div class="col-md-2 flex-c-c">
                        {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-primary btn-icon-text text-center'}}) }}

                    </div>
                </div>
                {{ form_end(form, {'render_rest': false}) }}

        </div>

    </div>


{% endblock %}