{% extends 'base.html.twig' %}
{% block title %}Modifier Portfolio{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
        {{ form_start(form) }}
    {{ form_widget(form._token) }}
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Modification du média</h6>
            </div>
            <div class="card-body">
                <label class="txt37">Description :</label>
                {{ form_errors(form.alt) }}
                {{ form_widget(form.alt) }}

                <label style="margin-top: 20px;">Photo :</label>
                {{ form_errors(form.lien) }}
                {{ form_widget(form.lien) }}
            </div>
        </div>

        <button type="submit" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-check"></i>
            </span>
            <span class="text">METTRE À JOUR</span>
        </button>
    {{ form_end(form, {'render_rest': false}) }}




{% endblock %}